* {
    font-family: Gilroy;
}

.h1 {
    font-size: 48px;
    font-weight: 700;
}

.h2 {
    font-size: 40px;
    font-weight: 700;
}

.h3 {
    font-size: 22px;
    font-weight: 600;
}

.h4 {
    font-size: 24px;
}

.body {
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}

.smallBody {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}

//font-weights

.weight-400{
    font-weight: 400;
}
.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}