.whyWeBlock {
  display: flex;
  padding: 49px 0;
  justify-content: center;
  gap: 75px;
  flex-wrap: wrap;

  @media (max-width: 1200px) {
    gap: 50px;
  }
  @media (max-width: 800px) {
    gap: 20px;
  }
}