.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 103px;
    padding: 26px 0;
}
.navs {
    display: flex;
    gap: 58px;

    ul {
        cursor: pointer;
    }
}